@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
  /*
#040D12
#183D3D
#5C8374
#93B1A6  */
  --primary-color: #9fa191;
  --secondary-color: #c99a76;
  --accent-color: #acf176e7;
  --back-color: #faf9f9;
  --high-color: #93b1a6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Poppins, sans-serif;
  color: #111;
  background-color: var(--back-color);
}

h1 {
  font-size: 30px;
  font-weight: 400;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

header {
  color: #111;
}

hr.solid {
  border-top: 1px solid #404040;
  width: 75%;
}

section {
  display: flex;
  flex-direction: column;
  background: var(--back-color);
  color: #111;
}

section.home {
  padding: 100px;
  /* align-items: center; */
  flex-direction: column;
  margin-top: 0;
}

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 0;
}

.home-text {
  z-index: 10;
  max-width: 650px;
  border-radius: 15px;
  padding: 40px 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.home-text#work {
  max-width: 1000px;
  padding: 20px 20px;
  text-align: center;
}

.home-content .home-text p {
  font-size: 1.5rem;
  color: rgb(87, 87, 87);
}

.home-img {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-shrink: 0;
  width: 600px;
}

.home-img img {
  width: 80%;
  /* Percent will change dependent on size of browser */
}

.home-h1 {
  display: flex;
  justify-content: center;

  margin: 10px 30px 50px;
}

.home-h1 h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.home-h1 .home-logo {
  font-size: 5rem;
  font-weight: 800;
  background: linear-gradient(
    120deg,
    var(--secondary-color),
    var(--accent-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
}

/* BUTTON */
.btndiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--secondary-color);
  color: black;
  font-size: 1.2rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 15px 40px;
  margin: 20px 0;
  transition: 0.3s;
  border: 2px solid black;
  border-radius: 3px;
}

.btn:hover {
  transform: scale(0.95);
  background: var(--accent-color);
  color: white;
}

.logo {
  position: fixed;
  top: 10px;
  left: 70px;
  font-size: 2rem;
  font-weight: 700;
  z-index: 20;
  /* to show even when we open menu */
}

.logo a img {
  width: 275px;
}

/* TOGGLE */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--primary-color) url(../images/menu.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: var(--primary-color) url(../images/close.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

/* NAVIGATION */
.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 4rem;
  color: #111;
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.navigation ul li a:hover {
  color: var(--primary-color);
}

.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SERVICES AREA */

.home-graph {
  background-color: var(--primary-color);
}

.home-comp {
  margin: 100px;
  background-color: var(--back-color);
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px 40px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  gap: 30px;
  text-align: center;
}

.services .service {
  transition: 0.3s;
  /* padding: 5px 20px; */
  margin: 20px 20px;
}

.services .service:hover {
  transition: 0.3s;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.services .service .icon img {
  max-width: 200px;
  -webkit-filter: hue-rotate(170deg);
}

.services .service p {
  color: black;
  font-weight: 300;
  padding: 10px 0px;
  margin: 0px 20px;
}

.services .service h2 {
  font-size: 32px;
  font-weight: 800;
  margin-top: 20px;
  color: #163e00;
}

/* -- JUMP TO REVIEWS -- */

section.home-review {
  /* margin: 100px; */
  padding: 100px;
  /* align-items: center; */
  flex-direction: column;
  margin-top: 0;
}

section.home-review .home-text {
  max-width: 650px;
  border-radius: 15px;
  padding: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

section.home-review .review-img {
  display: none;
}

.home-text .name {
  text-align: right;
}

section.home-review .review-buttons {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.review-buttons a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  display: inline-block;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 20px 30px;
  border-radius: 5px;

  transition: 0.3s;
}

.review-buttons a:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

/* -- WORK PAGE -- */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.portfolio .item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.portfolio .item img {
  width: 100%;
  height: 100%;
}

.portfolio .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.portfolio .item:hover .action {
  opacity: 1;
}

.portfolio .item .action a {
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 5px;
}

/* !-- REVIEW CARDS --! */

.box-review .item {
  position: relative;
  width: auto;
  padding: 30px 30px;
  height: auto;
  /* margin: 5px; */
  flex-shrink: 0;
  align-self: center;

  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.099);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.box-review .item img {
  width: 250px;
  height: 100%;
  border-radius: 15px;
}

.box-review .item #mirandaPC {
  width: 250px;

  height: auto;
  object-fit: cover;
}

.box-review .item #owenPC {
  width: auto;
  height: 200px;
  object-fit: cover;
}

.box-review .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.box-review .item:hover .action {
  opacity: 1;
}

.box-review .item .action a {
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 5px;
}

/*  */

.box-review {
  background-color: var(--accent-color);
  border-radius: 15px;
  margin: 20px 0px;
  padding: 20px 0px;
  align-self: center;
  width: 85%;
  display: flex;
  /* gap: 24px; */
  justify-content: space-evenly;
}

.box-review .review-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.review-name img {
  border-radius: 50%;
  width: 215px;
  height: auto;
}

.review-name h3 {
  font-size: 28px;
  font-weight: 600;
}

.box-review .review-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.box-review .review-bio p {
  margin: 24px;
  align-items: flex-end;
  font-size: 20px;
  text-align: center;
  width: 450px;
  font-weight: 300;
}

.box-review .review-bio div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box-review .review-bio span {
  font-size: 32px;
  font-weight: 400;
}

.box-review .review-bio h3 {
  font-size: 32px;
  font-weight: 400;
}

.box-review .review-bio img {
  /* display: inline; */
  width: 50px;
}

/* -- CONTACT -- */

.contact {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
  margin-top: 50px;
  padding: 50px 0px;
  border-radius: 20px;
}

.contact-form {
  position: relative;
  background: #f9f9f9;
  width: calc(100% - 100px);
  padding: 20px 40px;
  border-radius: 20px;
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;
  display: flex;
}

.contact-form .input50 {
  width: 50%;
  margin: 0px 10px;
}

.contact-form .input100 {
  width: 100%;
  margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #111;
  background: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  resize: none;
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row input[type="submit"] {
  background-color: var(--accent-color);
  color: rgb(0, 0, 0);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form .row input[type="submit"]:hover {
  background-color: #388100e7;
  color: rgb(69, 36, 0);
  transform: scale(0.95);
  border-radius: 20px;
}

.contact-info {
  width: 350px;
  background: #f9f9f9;
  padding: 60px 40px 20px;
}

.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.contact-info .info-box .details h4 {
  color: #1b206e;
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
  color: #111;
}

.contact-info .info-box .contact-icon {
  width: 40px;
  margin-right: 40px;
}

/* -- THANK YOU -- */

.thankyou-para {
  flex-direction: column;
  padding: 150px 50px;
  text-align: center;
}

.small {
  font-weight: 100;
  font-style: italic;
}

/* -- MEDIA QUERY -- */

@media (max-width: 1080px) {
  .home-img {
    position: fixed;
    top: 40%;
    opacity: 0.05;
  }

  section.home-review .home-content {
    flex-direction: column;
  }

  .home-review .home-img {
    display: none;
  }

  .home-h1 {
    text-align: center;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 40px;
  }

  section.home,
  section.home-graph section.home-review {
    padding: 120px 20px;
  }

  .navigation ul li a {
    font-size: 2rem;
  }

  .home-graph .home-comp {
    margin: 100px 20px;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 90%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }
}

@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr;
  }

  .services .service {
    box-shadow: none;
  }
}
